<div class="row-content">
    <div class="col-sm-8 music">
        <h2>{{ titlePage }}</h2>
        <div class="card"  *ngFor="let brand of brands">
            <div class="card-header">
                <h2> {{ brand }} </h2>
            </div>
            <div class="card-body">
                <div *ngFor="let car of cars" >
                    <div  *ngIf="brand == car.brand">            
                        <p> {{ car.type }} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
