<div class="card" *ngIf="car">
  <div class="card-header">
      <h3>{{ car.brand }} {{ car.type  }}</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <p class="card-text">{{ car.description  }}</p>
        <p>Puissance: {{ car.power  }} ch</p>
        <p *ngIf="car.wifi">Wifi inclus</p>
        <p>Prix : {{ car.price }} € / jour </p>
        <img width="750" src="{{ car.image }}" class="rounded mx-auto d-block" alt="...">
      </div>
      <div class="col">
        <app-rent-car></app-rent-car>
      </div>
    </div>
  </div>
  <div class="return">
    <button class="btn btn-primary btn-return" type="submit" routerLink="/cars">Retour à la liste des voitures</button>
  </div>  
</div>