.card {
    width: 80%;
    height: 85%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
}

form {
    width: 50%;
    height: 80%;
    margin-left: 35%;
}

img {
    margin-top: 10%;
    width: 100%;
}

.return {
    text-align: center;
}

.btn-return {
    width: 30%;
    margin-bottom: 1%;
}