<form  (ngSubmit)="onSubmit(rentForm)" #rentForm="ngForm">
  <h3>Je réserve cette voiture</h3>
  <div class="form-group">
    <label for="name">Nom :</label>
    <input name="name" ngModel name requiredrequired type="text" class="form-control" id="name"  placeholder="Entrez votre nom">
  </div>
  <br>
  <div class="form-group">
    <label for="firstName">Prénom :</label>
    <input name="firstName" ngModel firtName required type="text" class="form-control" id="firstName" placeholder="Entrez votre prénom">
  </div>
  <br>
  <div class="form-group">
    <label for="firstName">Email :</label>     
    <input name="email" ngModel email required type="email" class="form-control" id="email" 
          placeholder="Entrez votre email">
  </div>
  <br>
  <div class="form-group">
    <label for="startdate">du :</label>
    <input name="dateStart" ngModel dateStart required type="date" class="form-control" id="startdate"  placeholder="début location">
  </div>
  <br>
  <div class="form-group">
    <label for="enddate">au :</label>
    <input name="dateEnd" ngModel dateStart required type="date" class="form-control" id="enddate"  placeholder="fin location">
  </div>
  <br>
  <button class="btn btn-primary" [disabled]="rentForm.invalid"  >Réserver</button>
</form>
