<div class="container-fuild principal">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{title}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/brands" routerLinkActive="active">Marques</a>
          </li>
          <!-- <li *ngIf="auth.authenticated()==false" class="nav-item"> -->
            <li class="nav-item">
              <a class="nav-link" routerLink="/login" routerLinkActive="active">Se connecter</a>
          </li>
          <!-- <li *ngIf="auth.authenticated()==true" class="nav-item"> -->
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/admin" routerLinkActive="active">Admin</a>
          </li>
          <!-- <li *ngIf="auth.authenticated()==true"  class="nav-item"> -->
          <li class="nav-item">
            <!-- <a class="nav-link disconnect" aria-current="page" href="#" (click)="auth.logout()">logout</a> -->
            <a class="nav-link disconnect" aria-current="page" href="#" >logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- <app-cars></app-cars> -->
</div>
<router-outlet></router-outlet>