<div class="row-content">
    <h1>Console d'administration</h1>
    <div class="col-sm-8 music">
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">modifier</th>
                <th scope="col">marque</th>
                <th scope="col">modèle</th>
                <th scope="col">puissance</th>
                <th scope="col">supprimer</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let car of cars">
                <th scope="row">{{car.id}} </th>
                <td>
                  <button routerLink="/update/{{car.id}}" type="button" class="btn btn-secondary">udpate</button>
                  <!-- <button type="button" class="btn btn-secondary">Modifier</button> -->
                </td>
                <td>{{car.brand}}</td>
                <td>{{car.type}}</td>
                <td>{{car.price}} € / jour</td>
                <td>
                  <button class="btn btn-danger" (click)="onDelete(car)">Delete</button>
                </td>
              </tr>      
            </tbody>
        </table>
        <p>
          <button class="btn btn-dark" routerLink="/add">Ajouter une voiture</button>
        </p>
    </div>
</div>