.card-header h3 {
    color: #328ba8;
}

.row-content {
    margin-left: 25%;
}

.card {
    margin-bottom: 10px;
}

.card-body {
    text-align: center;
}

img {
    width:70%;
    height:70%;
    transition: 800ms;
    margin-top: 10px;
    margin-bottom: 10px;
}

img:hover {
    transform: scale(1.10);
}