.card-header h3 {
    color: #328ba8;
}

.row-content {
    margin-left: 25%;
}

.card {
    margin-bottom: 5px;
}

.card-body {
    text-align: center;
}

img {
    width:60%; 
    transition: 800ms;
    margin-top: 5px;
    margin-bottom: 5px;
}

img:hover {
    transform: scale(1.10);
    cursor: pointer;
}