<div  class="row-content">
  <div class="col-sm-4 video">
        
  </div>
    <h1>{{ titlePage }}</h1>
    <app-paginate (setPaginate)="paginate($event)"></app-paginate> <app-search (searchCars)="search($event)"></app-search>
    <div [@details]="isOpen? 'open' : 'opening'" class="col-sm-8 music">
      <div class="card" *ngFor="let car of cars; let index = index;">
        <div class="card-header">
          <h5 class="card-title"><a class="text-info" routerLink="/car/{{car.id}}">{{ car.brand }} {{ car.type }}</a></h5>          
        </div>
        <div class="card-body">          
          <p class="card-text">{{ car.price }} € / jour</p> 
          <img routerLink="/car/{{car.id}}" src="{{ car.image }}" alt="image véhicule">
        </div>
      </div>
    </div>
</div>
